.posts-view {
  display: block;
}

.posts-list {
  flex-basis: 75%;
  text-align: left;
}

.Post-holder {
  padding: 10px 20px;
  border: 3px black solid;
  border-style: double;
  text-align: left;
  margin: 20px 7px;
}

.Post-holder h2{
  font-size: 21px;
}

.Reply-holder {
  padding: 10px 20px;
  border: 1px grey solid;
  text-align: left;
  margin: 0 7px;
}

.Post-status {
  display: flex;
  flex-direction: row;
  height: 30px;
  width: 200px;
  align-items: center;
  justify-content: space-between;
}

.Post {
  font-size: 21px;
  width: 100%;
}

.Reply {
  font-size: 16px;
  width: 100%;
}

.reply-view{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 0 solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 20%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 40%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

textarea{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

span.page-num {
  margin-top: 5px;
  margin-left: 49%;
  padding-bottom: 50px;
  /* color: blue; */
  font-weight: bolder;
  text-decoration: underline;
  font-size: 16px;
}

span.page-num.active {
  color: blue;
}

img.category {
  width: 30px;
}

img.delete {
  width: 20px;
}